::selection {background-color: rgba(var(--dark-color), 1); color: rgba(var(--white-color), 1);}
-moz-::selection {background-color: rgba(var(--dark-color), 1); color: rgba(var(--white-color), 1);}
*, *::before, *::after {margin: 0; padding: 0; outline: none; max-height: 99999px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0,0,0,0);}
html, body {height: 100%;}
body {background-color: var(--white-color); font-family: 'OpenSans', sans-serif; font-weight: 400; font-size: 20px; line-height: 1.3620; color: var(--dark-color); min-width: 320px; position: relative; min-height: 1px; overflow-x: hidden; overflow-y: auto; -webkit-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;}
body.overflow-hidden {margin-right: 17px;}
button, html, input, select, textarea {text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -o-font-smoothing: antialiased;}
a {text-decoration: none; color: inherit; text-decoration-skip-ink: none;}
a:hover {color: currentColor; text-decoration: none;}
ul, ol {list-style: none;}
a img {border: none;}
img {max-width: 100%; height: auto; vertical-align: middle;}
label {cursor: pointer;}
input[type=text], input[type=email], input[type=password], input[type=tel], input, textarea, button, select {box-shadow: none; -webkit-box-shadow: none; -webkit-appearance:none; -moz-appearance:none; -webkit-touch-callout: none; -webkit-tap-highlight-color: rgba(0,0,0,0);}
button {border: none; cursor: pointer; background-color: transparent; display: inline-block; vertical-align: middle;}
input, textarea, button, select {font-size: inherit; color: inherit; font-family: inherit; font-weight: inherit; border: none; -webkit-appearance: none;}
select {width: 100%;  background-color: transparent; background-color: rgba(255, 255, 255, 0); cursor: pointer;}
select::-ms-expand {display: none;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}
input[type=number] {-ms-touch-action: manipulation; touch-action: manipulation; -webkit-appearance: textfield; -moz-appearance: textfield; appearance: textfield;}
h1,h2,h3,h4,h5,h6 {font-weight: normal;}
header, section, footer, aside, nav, main, article, figure {display: block;}
[data-target]:not(.footer__block-header) {cursor: pointer;}

.transition, a, a::before, a::after, img, path, button, button::before, button::after, .btn, .btn__icon, label, input, ::-webkit-input-placeholder, .transition, .phone__span, .icon-wrapper, .icon, .prev, .prev::before, .next, .next::before, .swiper-pagination-bullet::before, .swiper-pagination-bullet::after, .agree__icon, .agree__icon::before, .agree__icon::after, .form__input, .form__placeholder, .form__controls-border, .form__agree-icon::before, .form__agree-icon::after, .nav__arrow::after, .prev::after, .next::after, .contacts__icon, .scrollpanel .sp-scrollbar, .scrollpanel .sp-scrollbar .sp-thumb, .dropdown-select, .radio__text::before, .radio__text-span, .calculator-btn__text, .header__btn-wrapper, .grid__overlay, .grid__zoom {-ms-transition: visibility .2s ease-out, opacity .2s ease-out, z-index .2s ease-out, max-height .2s ease-out, fill .2s ease-in-out, color .2s ease-in-out, background-color .2s ease-in-out, bottom .2s ease-in-out, transform .2s ease-in-out, text-indent .2s ease-in-out, width .2s ease-in-out, filter .2s ease-in-out, border .2s ease-in-out, top .2s ease-in-out, right .2s ease-in-out, bottom .2s ease-in-out, left .2s ease-in-out, font-size .2s ease-in-out, margin-left .2s ease-in-out, clip-path .2s ease-in-out, fill .2s ease-in-out, stroke .2s ease-in-out; transition: visibility .2s ease-out, opacity .2s ease-out, z-index .2s ease-out, max-height .2s ease-out, fill .2s ease-in-out, color .2s ease-in-out, background-color .2s ease-in-out, bottom .2s ease-in-out, transform .2s ease-in-out, text-indent .2s ease-in-out, width .2s ease-in-out, filter .2s ease-in-out, border .2s ease-in-out, top .2s ease-in-out, right .2s ease-in-out, bottom .2s ease-in-out, left .2s ease-in-out, font-size .2s ease-in-out, margin-left .2s ease-in-out, clip-path .2s ease-in-out, fill .2s ease-in-out, stroke .2s ease-in-out;}
svg {display: inline-block; vertical-align: middle; fill-rule: evenodd; height: 200px; width: 200px;}

.none {display: none!important;}
.white {color: rgb(var(--white-color));}
.white-90 {color: rgba(var(--white-color), .9);}
.white-50 {color: rgba(var(--white-color), .5);}
.black {color: var(--black-color);}
.dark {color: var(--dark-color);}
.dark-86 {color: rgba(var(--dark-color), .86);}
.dark-80 {color: rgba(var(--dark-color), .8);}
.dark-60 {color: rgba(var(--dark-color), .6);}
.dark-50 {color: rgba(var(--dark-color), .5);}
.dark-40 {color: rgba(var(--dark-color), .4);}
.dark-44 {color: rgba(var(--dark-color), .44);}
.dark-30 {color: rgba(var(--dark-color), .3);}
.dark-gray {color: rgba(var(--dark-gray-color), 1);}
.dark-gray-50 {color: rgba(var(--dark-gray-color), .5);}
.accent-color {color: rgba(var(--accent-color), 1);}
.accent-color-86 {color: rgba(var(--accent-color), .86);}
.flex {display: flex;}
.inline-flex {display: inline-flex;}
.flex-direction-column {flex-direction: column;}
.justify-content-center {justify-content: center;}
.justify-content-flex-start {justify-content: flex-start;}
.justify-content-flex-end {justify-content: flex-end;}
.justify-content-space-between {justify-content: space-between;}
.align-items-center {align-items: center;}
.align-items-flex-start {align-items: flex-start;}
.align-items-flex-end {align-items: flex-end;}
.flex-nowrap {flex-wrap: nowrap;}
.flex-wrap {flex-wrap: wrap;}
.flex-1-0-auto {flex: 1 0 auto;}
.order-1 {order: 1;}
.z-index, .z-index-2 {position: relative;}
.z-index {z-index: 500;}
.z-index-2 {z-index: 600;}
.in-pc, .in-pc-flex, .in-pc-inline {display: none!important;}
.in-mobile {display: block!important;}
.in-mobile-flex {display: flex!important;}
.in-mobile-inline {display: inline-block!important; vertical-align: middle;}
.object-fit-wrapper, .iframe-wrapper {position: relative; z-index: 1; display: block; overflow: hidden;}
.object-fit-cover, .object-fit-contain, .iframe {border: none; position: absolute; left: 0; top: 0; height: 100%; width: 100%; z-index: 1; -ms-transform: scale(1) perspective(600px); transform: scale(1) perspective(600px); -ms-transition: transform .4s ease-in-out; transition: transform .4s ease-in-out;}
.object-fit-contain {-ms-object-fit: contain; object-fit: contain;}
.object-fit-cover {-ms-object-fit: cover; object-fit: cover;}
.icon-wrapper {position: relative; z-index: 1;}
.icon-wrapper--white, .icon-wrapper.icon-wrapper--hover-white:hover {color: rgba(var(--white-color), 1); fill: rgba(var(--white-color), 1);}
.icon-wrapper--black, .icon-wrapper.icon-wrapper--hover-black:hover {color: var(--black-color); fill: var(--black-color);}
.icon-wrapper--accent, .icon-wrapper.icon-wrapper--hover-accent:hover {color: rgba(var(--accent-color), 1); fill: rgba(var(--accent-color), 1);}
.icon {position: relative; z-index: 1;}
.icon--abs {position: absolute; z-index: 1;}
.fill-none {fill: none;}
.stroke-accent-color, .stroke-hover-accent-color:hover {stroke: rgba(var(--accent-color), 1)!important;}
.stroke-accent-color-80 {stroke: rgba(var(--accent-color), .8);}
.stroke-black-color {stroke: rgba(var(--black-color), 1);}
.stroke-white-color {stroke: rgba(var(--white-color), 1);}
.stroke-gray-color {stroke: rgb(var(--gray-color));}
.pointer-events-none {pointer-events: none;}
.overflow-hidden {overflow: hidden;}

.carousel.swiper-container {overflow: visible;}
.swiper-container-multirow-column>.swiper-wrapper {flex-direction: row; flex-wrap: nowrap;}
.carousel .swiper-wrapper {z-index: 10;}
.carousel .swiper-slide {min-height: 100%; opacity: 0; visibility: hidden; z-index: 50; -ms-transition: opacity .2s, visibility .2s, transform .2s, z-index .2s!important; transition: opacity .2s, visibility .2s, transform .2s, z-index .2s!important;}
.carousel .swiper-slide-visible, .carousel--overflow-visible .swiper-slide {opacity: 1; z-index: 500; visibility: visible;}
.prev-next-wrapper {margin-left: auto; max-width: 121px;}
.prev, .next {height: 48px; width: 48px; background-color: rgba(var(--accent-color), .8); cursor: pointer; position: relative; z-index: 1;}
.prev::after, .next::after {content: ''; height: 100%; width: 100%; position: absolute; left: 0; top: 0; z-index: -1; background: linear-gradient(93.05deg, rgba(var(--btn-hover-background-gradient-default-first)) 0%, rgba(var(--btn-hover-background-gradient-default-last)) 100%); opacity: 0;}
.prev:hover::after, .next:hover::after {opacity: 1;}
.next {margin-left: 25px;}
.icon__svg--prev, .icon__svg--next {height: 23px; width: 12px;}


.text-left {text-align: left!important;}
.text-center {text-align: center!important;}
.text-right {text-align: right!important;}
.text-justify {text-align: justify!important;}
.text-uppercase {text-transform: uppercase;}
::-webkit-input-placeholder {color: inherit;}
input:focus::-webkit-input-placeholder {text-indent: 120%;}
textarea:focus::-webkit-input-placeholder {opacity: 0;}
:-webkit-autofill {box-shadow: inset 0 0 0 50px #fff!important; font-family: inherit; -webkit-text-fill-color: #a7a7a7;}
.title {font-family: 'Oswald', sans-serif; font-weight: 500; position: relative; z-index: 1; margin: 0;}
.title--h1 {font-size: 64px; line-height: 1.0780; margin-bottom: 25px;}
.title--h2 {font-size: 60px; line-height: 1.0780; margin-bottom: 27px;}
.title--h3 {font-size: 34px; line-height: 1.2359; margin-bottom: 23px;}
.title--h4 {font-size: 24px; line-height: 1.2362;}
.title--h5 {font-size: 20px;}
.title--line::after, .title--line-horizontal::after {content: ''; background: #444; position: absolute; z-index: -1;}
.title--line::after {height: 50px; width: 1px; left: 50%; margin-left: -.5px; bottom: -69px;}
.title--line-horizontal::after {width: 50px; height: 1px; left: -68px; top: 28px;}
.title--margin-default {margin: 0;}
.light, .regular, .bold, .semi-bold, .extra-bold {font-family: 'OpenSans', sans-serif;}
.semi-bold {font-weight: 600;}
.bold {font-weight: 700;}
.extra-bold {font-weight: 800;}
.bg-cover {-ms-background-size: cover!important; background-size: cover!important;}
.bg-contain {-ms-background-size: contain!important; background-size: contain!important;}
.bg-light-gray {background-color: rgba(var(--bg-gray-light), 1);}
.bg-dark-gray {background-color: rgba(var(--bg-gray), .9);}
.color-inhert {color: inherit!important;}
.opacity-86, .hover-opacity-86:hover {opacity: .86;}
.opacity-80 {opacity: .8;}
.opacity-60 {opacity: .6;}
.opacity-50 {opacity: .5;}
.opacity-40 {opacity: .4;}
.opacity-44 {opacity: .44;}
.opacity-32 {opacity: .32;}
.hover-opacity-1:hover {opacity: 1;}
.white-90 {color: rgba(var(--white-color), .9);}
.white-86 {color: rgba(var(--white-color), .86);}
.white-60 {color: rgba(var(--white-color), .6);}
.white-50 {color: rgba(var(--white-color), .5);}
.cursor-text {cursor: text;}
.fluid-overlay-wrapper, .fluid-overlay-before, .fluid-overlay-before {position: relative; z-index: 1; display: block;}
.fluid-overlay, .fluid-overlay-before::before, .fluid-overlay-after::after {content: ''; position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: -1;}
.fluid-overlay, .fluid-overlay-before, .fluid-overlay-after, .fluid-overlay-before::before, .fluid-overlay-after::after {-ms-border-radius: inherit; border-radius: inherit;}
.fluid-overlay--gradient::before {background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.78) 100%), rgba(5, 7, 10, 0.55);}
.not-transition {-ms-transition: none; transition: none;}
.none {display: none;}
.circle {-ms-border-radius: 50%; border-radius: 50%;}

/*up-btn*/
.up-btn {height: 54px; width: 54px; background-color: rgba(var(--white-color), 1); display: none; position: fixed; right: 30px; bottom: 305px; z-index: 3000; box-shadow: var(--up-btn-box-shadow); opacity: 0; visibility: hidden; transition: background-color .3s, opacity .5s, visibility .5s;}
.up-btn.show {opacity: 1; visibility: visible;}
.icon__svg--up-btn {height: 14px; width: 27px;}

/*contacts*/
.phone {letter-spacing: .25px;}
.icon-wrapper--phone {padding-left: 32px;}
.icon--phone {left: 0; top: -3px;}
.icon__svg--phone {height: 22px; width: 22px;}

/*scrollbar*/
.scrollbar-inner > .scroll-element .scroll-bar {background-color: rgba(var(--accent-color), 1)!important;}
.scrollbar-inner > .scroll-element .scroll-element_track {opacity: 0!important;}

.scroll-hidden {scrollbar-width: none; -ms-overflow-style: -ms-autohiding-scrollbar; -ms-overflow-style: none; overflow: -moz-scrollbars-none;}
.scroll-hidden::-webkit-scrollbar {display: none;}
.sp-viewport {padding-right: 0!important;}

/*page*/
.page {background-position: top center; background-repeat: no-repeat; overflow: hidden;}

/*page row*/
.page__row {background-repeat: no-repeat; background-position: top center;}
.page__row--wrapper {min-height: 100vh; position: relative; z-index: 160;}
.page__row--overlay {position: relative; z-index: 1;}
.page__row--overlay::before {content: ''; height: 100%; width: 100%; position: absolute; left: 0; top: 0; z-index: -1; background: linear-gradient(80.48deg, rgba(var(--black-color), .8) 30.83%, rgba(var(--black-color), .496) 94.45%);}

/*page cell*/
.page__cell {width: 100%; margin-right: auto; margin-left: auto;}
.page__cell--relative {position: relative;}
.page__cell.page__cell--fluid {max-width: 100%; padding-left: 0; padding-right: 0;}

/*logo*/
.logo__text {fill: rgb(var(--white-color));}
.fixed .logo__text {fill: rgb(var(--dark-color));}
.logo__text--gray {fill: rgb(var(--gray-color));}
.logo__line {stroke-width: 2.17143; opacity: .9;}
.logo__line--footer {stroke-width: 4; opacity: 1;}
.logo__line--gray {stroke: var(--gray-color);}

/*calculator btn*/
.calculator-btn {position: absolute; right: 0; top: 205px; z-index: 9990; width: 49px;}
.calculator-btn__icon {background-color: rgba(var(--white-color), 1); height: 49px; width: 49px;}
.icon__svg--calculator-btn {height: 36px; width: 30px;}
.calculator-btn__text {height: 123px; padding-bottom: 5px; padding-right: 3px; background-color: rgba(var(--calculator-btn-background), 1); -ms-border-bottom-left-radius: 12px; border-bottom-left-radius: 12px;}
.calculator-btn:hover .calculator-btn__text {margin-left: -6px;}
.calculator-btn__span {display: block; font-size: 14px; font-family: 'Roboto', sans-serif; font-weight: 700; transform: rotate(-90deg); transform-origin: center;}

/*section*/
.section__header {margin-bottom: 67px;}
.section__header--max-width {max-width: 750px;}
.desc {font-size: 24px; line-height: 1.3617;}