:root {
	--white-color: 255, 255, 255;
	--black-color: 0, 0, 0;
	--dark-color: 5, 7, 10;
	--accent-color: 140, 194, 243;
	--gray-color: 184, 184, 184;
	--dark-gray-color: 97, 97, 97;
	--num-color: 249, 249, 249;
	--bg-gray-light: 249, 249, 249;
	--bg-gray: 19, 19, 19;
	--header-fixed-box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
	--btn-border-image-gradient-default-first: 59, 169, 248, 1;
	--btn-border-image-gradient-default-last: 39, 138, 210, 1;
	--btn-background-gradient-default-first: 54, 156, 231, 1;
	--btn-background-gradient-default-last: 38, 145, 223, 1;
	--btn-hover-background-gradient-default-first: 34, 147, 228, 1;
	--btn-hover-background-gradient-default-last: 18, 124, 201, 1;
	--zoom-background: rgba(0, 0, 0, 0.56);
	--btn-shadow-color: rgba(46, 135, 198, 0.34);
	--calculator-btn-background: 37, 37, 37;
	--principles-block-bg-color: 242, 242, 242;
	--select-option-active-bg-color: 243, 243, 243;
	--select-option-border-color: 238, 238, 238;
	--partners-border-color: 181, 181, 181;
	--footer-bg-color: 19, 19, 19;
	--modal-bg-color: 0, 0, 0, 0.3;
	--form-input-bg-color: 248, 248, 248;
	--form-error-border-color: 229, 87, 77;
	--up-btn-box-shadow: -3px 7px 17px rgba(0, 0, 0, 0.12);
}
