.page__row--footer {background-color: rgba(var(--footer-bg-color), 1);}
.footer__wrapper {padding-top: 70px; padding-bottom: 111px;}
.footer__row {margin-left: -15px; margin-right: -15px;}
.footer__cell {padding-left: 15px; padding-right: 15px;}
.footer__logo {padding-top: 11px;}
.logo__svg--footer {height: 84px; width: 194px;}
.footer__block-row {margin-left: -54px; margin-right: -54px;}
.footer__block-cell {padding-left: 54px; padding-right: 54px;}
.footer__block {font-size: 18px; line-height: 1.3617; margin-right: 230px;}
.footer__block-title {font-size: inherit; line-height: inherit; margin-bottom: 21px;}
.footer__nav-item {margin-bottom: 9px;}
.footer__nav-link:hover {color: rgba(var(--accent-color), 1);}