.section--reviews {padding-top: 151px;}
.section__header--reviews {margin-bottom: 85px;}
.reviews {position: relative; z-index: 1;}
.reviews__quote {position: absolute; left: -214px; top: -38px; z-index: -1;}
.icon__svg--quote {height: 447px; width: 471px;}
.reviews__items {max-width: 842px; width: 100%; margin-left: auto; padding-bottom: 130px;}
.reviews__items .swiper-slide {max-width: 449px;}
.reviews__item {padding-left: 56.5px; padding-right: 56.5px; -ms-transition: transform .3s 1s linear; transition: transform .3s 1s linear;}
.swiper-slide .reviews__item {-webkit-transform: translateY(-177px); transform: translateY(-177px);}
.swiper-slide-prev .reviews__item, .swiper-slide-active .reviews__item {-webkit-transform: translateY(0); transform: translateY(0);}
.reviews__wrapper {width: 336px; padding-bottom: 53px;}
.reviews__block {position: relative; z-index: 1; margin-bottom: 28px; line-height: 1.375; padding: 39px 30px 32px; font-size: 24px; letter-spacing: .5px;}
.reviews__block::before {content: ''; height: 100%; width: 100%; position: absolute; left: 0; top: 0; z-index: -1; border: 1px solid rgba(var(--dark-color), 1); opacity: .2; border-right: none;}
.reviews__block::after {content: ''; height: 90px; opacity: .2; position: absolute; right: 0; top: 1px; z-index: -1; border-right: 1px solid rgba(var(--dark-color), 1);}
.reviews__date {display: block; margin-bottom: 18px;}
.reviews__text {margin-bottom: 13px;}
.reviews__link:hover {color: rgba(var(--accent-color), 1);}
.icon--arrow-more {margin-left: 14px; top: -3px;}
.icon__svg--arrow-more {height: 12px; width: 55px;}
.reviews__user-avatar {padding-top: 9px;}
.reviews__user-picture {height: 57px; width: 57px; -ms-border-radius: 50%; border-radius: 50%;}
.reviews__user-content {padding-left: 17px; letter-spacing: .5px;}
.reviews__user-name, .reviews__user-text {margin: 4px 0; font-size: 24px;}