.section--working {padding-top: 155px; padding-bottom: 44px;}
.working {counter-reset: num;}
.working__cell {margin-bottom: 74px;}
.working__cell:nth-of-type(1), .working__cell:nth-of-type(3n + 1) {max-width: 37.3%; flex: 1 0 37.3%;}
.working__cell:nth-of-type(2), .working__cell:nth-of-type(3n + 2) {max-width: 37.1%; flex: 1 0 37.1%;}
.working__cell:nth-of-type(3), .working__cell:nth-of-type(3n + 3) {max-width: 25.6%; flex: 1 0 25.6%;}
.working__block {counter-increment: num; padding-left: 8px; padding-right: 178px; position: relative; z-index: 1; padding-top: 73px;}
.working__cell:nth-of-type(3) .working__block, .working__cell:nth-of-type(3n + 3) .working__block {padding-right: 8px;}
.working__block::before {content: counter(num, decimal-leading-zero); font-family: 'Chivo', sans-serif; font-weight: 400; font-size: 100px; line-height: 1.19; color: rgba(var(--num-color), 1); position: absolute; left: 3px; top: 0; z-index: -1;}
.working__title {margin-bottom: 10px;}
.working__arrow {position: absolute; right: 163px; top: 50%; z-index: -1; margin-top: -7px;}
.working__cell:nth-of-type(2) .working__arrow, .working__cell:nth-of-type(3n + 2) .working__arrow {right: 146px;}
.working__cell:nth-of-type(3n + 3) .working__arrow {display: none;}
.icon__svg--arrow-next {height: 16px; width: 98px;}